.page{
position: relative;
width: 411px;
height: 731px;

}
.buttonStyle{
    position: absolute;
    width: 285px;
    height: 63px;
    left: 63px;
    top: 392px;
    
    background: #C9ACDB;
}
.connect{
    position: absolute;
width: 127px;
height: 45px;
left: 122px;
top: 303px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: right;
text-transform: uppercase;

color: #000000;
}
.logo{
position: absolute;
width: 411px;
height: 75px;
left: 0px;
top: 128px;

}