
.app-com {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: black;
    font-size:20px;
    text-align: center;
    background-Image: url(./imgs/background.png);
    overflow: auto;

}
.buttonStyle {
    color: black;
    background-color: rgba(201, 172, 219, 1);
    font-size:30px;
    padding: 20px 70px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    font-family: "Arial Rounded MT Bold";
}
.placeholder{
    color: black;
    background-color: rgba(201, 172, 219, 1);
    font-size:30px;
    padding: 20px 70px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: right;
    cursor: pointer;
    font-family: "Arial Rounded MT Bold";
}
.chat{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 150px;
    top: 290px;
}
.challenge{
    position: absolute;
    width: 300px;
    height: 200px;
    right: 100px;
    top: 290px;
}
.notification{
    position: absolute;
    width: 300px;
    height: 200px;
    right: 600px;
    top: 500px;
}

.notification1{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 550px;
    top: 290px;
}

.addStudent{
    position: absolute;
    width: 105px;
    height: 97px;
    left: 350px;
    top: 600px;
}
.classes{
    position: absolute;
    width: 100px;
    height: 89px;
    left: 750px;
    top: 600px;
}
.searchStudent{
    position: absolute;
    width: 125px;
    height: 200px;
    left: 950px;
    top: 290px;
}

.addNewChall{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 250px;
    top: 600px;

}

.wrapper fieldset {
    margin: 20px 0;

}
.box {
    color: black;
    background-color: rgba(201, 172, 219, 1);
    font-size:30px;
    border-radius: 5px;
    text-align: right;
    cursor: pointer;
    font-family: "Arial Rounded MT Bold";
}
.label{
    text-align: right;
}
.Myclasses{
    position: absolute;
    width: 100px;
    height: 89px;
    right: 300px;
    bottom: 20px;
}
.Newclass{
    position: absolute;
    width: 100px;
    height: 89px;
    left: 300px;
    bottom: 20px;
}
