/********** FreeSolo *************/
.bc {
    background-color: transparent;
} 

.MuiFormControl-fullWidth {
    bottom: 10px !important;
}
.MuiInputLabel-formControl {
    right: 0 !important;
}

/* .Mui-focused{
    
}  */
.MuiInputLabel-shrink{
    color: #a36ae4 !important;
    left: 170px !important;
    width: 100%;
    text-align: right;
    transform: translate(35px, 1.5px) scale(0.75) !important;
    transform-origin: top left !important;
    /* transform-origin: top right; */
  
}
.MuiInputLabel-formControl{
    left:0px;
}



.MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
    padding-top: 10px !important;
}
.MuiAutocomplete-root{
    width: 100%;
}
.MuiInput-underline:before{
    /* outline: none !important; */
    border-bottom: none !important;
}
.MuiFilledInput-underline:before{
    border-bottom: none !important;
}
.MuiFormControl-fullWidth {
bottom: 15px !important;
}



/**** Alert  ****/

.addingAlertsDiv{
    margin: 3% auto;
    
}
.allAlerts{
    padding-top: 5px;
    max-height: 70vh;
    overflow-y: scroll;
    justify-content: center;
}

.alertBigDiv{
    box-shadow: 2px 2px #949494;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
   
}


/*******One Alert *******/
.container-OneAlert{
    
    padding: 0px;
    text-align: right;
    display: flex;
    width: 98%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.iconsAlertDiv{
    float: left;
    height: 100%;
    margin-left: auto;
    margin-top: 2%;
    padding: 0px;
}
.detailsOneAlert{
    margin: 0px;
    padding: 0px;
    text-align: right !important;

}
.iconDiv{
    height: 20px;
    margin-left: 3%;
}
.alertDate{
    font-size: 16px;
}
.alertText{
    font-size: 20px;
    text-align: right;
    font-weight: 300;
    padding-bottom: 15px;
}
.alertType{
    /* border-radius: 24px; */
    text-decoration: underline;
    
}

/* positive */
.alertTypeID1{ 
    color: rgb(144, 214, 144);
/* background-color: rgba(218, 255, 244, 0.425); */
/* border: 4px solid rgba(156, 243, 217, 0.637); */
}

/* Negative */
.alertTypeID2{
    color: rgb(245, 86, 86);
    /* background-color: rgba(253, 200, 194, 0.425); */
    /* border: 4px solid rgba(250, 169, 160, 0.685); */

}

/* help */
.alertTypeID3{
    color: rgb(250, 202, 112);
    /* background-color: rgba(255, 231, 180, 0.507); */
    /* border: 4px solid rgba(250, 220, 156, 0.712); */
}

/* late */
.alertTypeID4{
    color: rgb(124, 138, 185);
    /* background-color: rgba(178, 192, 238, 0.678); */
    /* border: 4px solid rgba(145, 164, 228, 0.678); */

}

/* predate */
.alertTypeID5{
    color: rgb(209, 106, 141);
    /* background-color: rgba(201, 238, 238, 0.425); */
    /* border: 4px solid rgba(171, 240, 240, 0.678); */

}

/* idle */
.alertTypeID6{
    color: gray;
    /* background-color: rgba(165, 165, 165, 0.336); */
    /* border: 4px solid rgba(161, 161, 161, 0.726); */

}


/* איפוס סיסמה */
.alertTypeID10{
    color: rgb(187, 7, 118);
    /* background-color: rgba(255, 213, 213, 0.425); */
    /* border: 4px solid rgba(161, 161, 161, 0.726); */

}
.oneAlertDiv{
    background-color: transparent;
}


.deleteMes{
    background-color: rgba(130, 193, 252, 0.836);
    border-radius: 6px;
    padding: 5px !important;
    font-weight: 600;
    color: white;
    position: fixed;
    bottom: 16px;
    z-index: 999;
    text-align: right;
    margin: auto;
}
.CancelDeleteBtn{
    text-align: left;
    color: rgb(57, 98, 211);
    font-weight: 600;
}
.user {
 top: 5px;
}
